<% @page_title = "Edit Post" %>


<div class="side_right_post_edit">


<div class="post_edit">
	<h2>Edit Post: </h2>
	<h3>"<%= @post.title %>"</h3>
	</div>


<%= form_for(@post, :html => { multipart: true }) do |f| %>

<p class ="field">
<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"} %>
</p>


<p class ="field">
<%= f.file_field :image, :placeholder => "Image" %>
</p>


<p class ="field">
<%= f.text_field :author, :placeholder => "Author" %>
</p>

<p class ="field">

<%= f.text_field :title, :placeholder => "Title"  %>
</p>


<p class ="field">

<%= f.text_field :color, :placeholder => "Color"  %>
</p>

<p class ="field">

<%= f.text_area :summary,  :class => 'textarea_new', :placeholder => "Summary" %>
</p>

<p class ="field">

<%= f.text_area :content, :class => "textarea_main", :placeholder => "Write your post here" %>
</p>


<p class ="field">

	<%= f.submit :class => "buttoner" %>
</p>

<% end %>

</div>	


