	<% if current_admin %>
<h2 class="add_new"><%= link_to "+", new_post_path %></h2>
<% end %>













	

<% @page_title = "Blog" %>






<div class="side_right_post_index">


<div class="side_right_contain">
	

<% @posts.each do |post| %>
<main>
<div class="side_right_post_box">
	<div class="post_title_contain">
		<%= link_to post.title, post, :class => 'post_title'%>
	</div>
</div>	

<div class="side_content">
<p>
<%= truncate post.summary, length: 200 %></p>
</div>


 <div class ="edit_destroy">
<% if current_admin %>
<p>
<%= link_to "✍", edit_post_path(post) %>
<span> | </span>
<%= link_to "✕", post, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<% else %>
<p><%= post.created_at.strftime("%B %d") %></p>	
<% end %>

</div>	 	
</main>

	


<% end %>
</div>
</div>
